* {
  font-family: 'Prompt', sans-serif;
}

.popupJoinChallenge {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 540px) {
  .box-Individual {
    max-height: 500px !important;
  }
}
@media (max-width: 667px) {
  .popupJoinChallenge {
    width: 80%;
  }
}

.overlayContainerPopupJoinChallenge {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupJoinChallenge.active {
  display: block;
}

.popupJoinChallenge.active {
  display: block;
}

.popupRulesAndPrizes {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupRulesAndPrizes {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupRulesAndPrizes {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupRulesAndPrizes.active {
  display: block;
}

.popupRulesAndPrizes.active {
  display: block;
}

.popupScoreDetail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupScoreDetail {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupScoreDetail {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupScoreDetail.active {
  display: block;
}

.popupScoreDetail.active {
  display: block;
}

.popupMaxFriendsDetail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupMaxFriendsDetail {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupMaxFriendsDetail {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupMaxFriendsDetail.active {
  display: block;
}

.popupMaxFriendsDetail.active {
  display: block;
}

.popupFriendRequest {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupFriendRequest {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupFriendRequest {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupFriendRequest.active {
  display: block;
}

.popupFriendRequest.active {
  display: block;
}

.popupTeamInvite {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupTeamInvite {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupTeamInvite {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupTeamInvite.active {
  display: block;
}

.popupTeamInvite.active {
  display: block;
}

.popupDeleteFriend {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupDeleteFriend {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupDeleteFriend {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupDeleteFriend.active {
  display: block;
}

.popupDeleteFriend.active {
  display: block;
}

.popupLeaveTeam {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupLeaveTeam {
    width: 80%;
  }
}

.overlayContainerPopupLeaveTeam {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupLeaveTeam.active {
  display: block;
}

.popupLeaveTeam.active {
  display: block;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#F45197;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
.box-Individual {
  height: "auto";
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
}
.user-idLogin {
  background-color: rgba(155, 155, 155, 0.467);
  padding: 5px;
  border-radius:4px;
}
/* .top {
  margin-top: 20px;
  margin-bottom: -20px;
} */