* {
  font-family: 'Prompt', sans-serif;
}

.popupJoinChallenge {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 540px) {
  .box-Individual {
    max-height: 500px !important;
  }
}
@media (max-width: 667px) {
  .popupJoinChallenge {
    width: 80%;
  }
}

.overlayContainerPopupJoinChallenge {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupJoinChallenge.active {
  display: block;
}

.popupJoinChallenge.active {
  display: block;
}

.popupRulesAndPrizes {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupRulesAndPrizes {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupRulesAndPrizes {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupRulesAndPrizes.active {
  display: block;
}

.popupRulesAndPrizes.active {
  display: block;
}

.popupScoreDetail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupScoreDetail {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupScoreDetail {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupScoreDetail.active {
  display: block;
}

.popupScoreDetail.active {
  display: block;
}

.popupMaxFriendsDetail {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupMaxFriendsDetail {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupMaxFriendsDetail {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupMaxFriendsDetail.active {
  display: block;
}

.popupMaxFriendsDetail.active {
  display: block;
}

.popupFriendRequest {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupFriendRequest {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupFriendRequest {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupFriendRequest.active {
  display: block;
}

.popupFriendRequest.active {
  display: block;
}

.popupTeamInvite {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupTeamInvite {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupTeamInvite {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupTeamInvite.active {
  display: block;
}

.popupTeamInvite.active {
  display: block;
}

.popupDeleteFriend {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupDeleteFriend {
    position: absolute;
    top: 100%;
    width: 70%;
  }
}

.overlayContainerPopupDeleteFriend {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupDeleteFriend.active {
  display: block;
}

.popupDeleteFriend.active {
  display: block;
}

.popupLeaveTeam {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 25px;
  padding: 1.5%;
  box-shadow: 0 0 8px rgba(0,0,0,0.1);
  z-index:2;

    .text {
      font-size: 35px;
      font-weight: 600;
      text-align: center;
    };
}

@media (max-width: 667px) {
  .popupLeaveTeam {
    width: 80%;
  }
}

.overlayContainerPopupLeaveTeam {
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.overlayContainerPopupLeaveTeam.active {
  display: block;
}

.popupLeaveTeam.active {
  display: block;
}

.underline-on-hover:hover {
  text-decoration: underline;
}

.close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#F45197;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}
.box-Individual {
  height: "auto";
  max-height: 400px;
  overflow: scroll;
  margin-bottom: 10px;
}
.user-idLogin {
  background-color: rgba(155, 155, 155, 0.467);
  padding: 5px;
  border-radius:4px;
}
.btn-achievement {
  background-color: #F45197;
  width: 80px;
  height: 40px;
  color: #FFFF;
  border-color: #e25e96;
  border-radius: 50px !important;
  font-weight: bold;
  font-size:  18px;
}
.btn-achievement:hover {
  background-color: #F45197;
  width: 80px;
  height: 40px;
  color: #FFFF;
  border-color: #e25e96 !important;
  box-shadow: 0 0 0 0.25rem hsl(335, 69%, 63%, 0.25) !important;
  border-radius: 50px;
  font-weight: bold;
  font-size:  18px;
}
.btn-achievement:focus {
  background-color: #F45197 ;
  width: 80px;
  height: 40px;
  color: #FFFF;
  border-color: #e25e96 !important;
  box-shadow: 0 0 0 0.25rem hsl(335, 69%, 63%, 0.25) !important;
  border-radius: 50px;
  font-weight: bold;
  font-size:  18px;
}
.modal-subscription {
  margin-top: -50px;
  margin-right: -15px;
  position: relative;
}
.icon-share {
  padding-left: 4px;
  padding-right: 4px;
  cursor: pointer;
}
.frame40 {
  margin-top: 2px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 100%;
}
.frame41 {
  width: 100%;
}
.icon_web {
  position: absolute;
  z-index: 1;
  margin-left: -51px;
  margin-top: 2px;
  border-bottom-left-radius: 10px;
}
.share-success {
  font-size: 20px;
  color: #F45197;
  font-weight: bold;
 font-family: BdCondHe;
}
.box-share {
  position: relative;
  border: 1px solid #E25E96;
  width: 100%;
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  height: 70px;
  margin-bottom: 40px;
  border-radius: 100px;
}
.modeText-box {
  font-size: 24px;
  color: #F45197;
  font-weight: bold;
 font-family: BdCondHe;
 }
 .canterMode-box {
  margin-top: 100px;
  text-align: center;
  display: inline-block;
  padding-right: 10px;
}
.modal-headerShare {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: var(--bs-modal-header-padding);
  border-bottom: none;
  border-top-left-radius: var(--bs-modal-inner-border-radius);
  border-top-right-radius: var(--bs-modal-inner-border-radius);
}