.videoItem {
  border-radius: 15px;
  border: 1px solid black;
  height: 100%;

  .videoThumb {
    float: left;
  }
  .videoName {
    float: left;
    border-radius: 15px;
  }

  .videoEnd {
    float: right;
    margin-top: 0.7%;
  }
  
  .videoDuration {
    float: right;
    margin-top: 15%;
  }
}

.page-header{
  height: 50vh;
  background-position: center center;
  background-size: cover;
}
.trailer
{
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 10000;
	background: rgba(0,0,0,0.95);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	visibility: hidden;
	opacity: 0;
}
.trailer.active_list
{
  visibility: visible;
	opacity: 1;
}
.trailer.active
{
	visibility: visible;
	opacity: 1;
}
.trailer video
{
	position: relative;
	max-width: 900px;
	outline: none;
}
.trailer .close
{
	position: absolute;
	top: 30px;
	right:  30px;
	cursor: pointer;
	filter: invert(1);
	max-width: 32px;
}
.btn_container{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 2px 10px rgba(0,0,0,0.1);
	background: linear-gradient(-20deg, #dd6f30 0%, #faaca8 100%, #faaca8 100%);
	display: flex;
	justify-content: center;
	align-items: center;
}

.app{
	width: 80px;
	height: 80px;
	position: relative;
	border-radius: 50%;
}
.play{
	width: 100%;
	height: 100%;
	cursor: pointer;
	position: absolute;
}
.line{
	position: absolute;
	width: 8px;
	height: 50%;
	background: #000;
	border-radius: 10px;
	transition: all 400ms cubic-bezier(.8, 0, .32, 1);
}
.play .line{
	height: 62%;
	margin: 20% 0;
}
.play .line_1{
	left: 28%;
	/*transform: translate(-2px);*/
}
.play .line_2{
	height: 56%;
	left: 63%;
	transform: rotate(-55deg) translateY(-16.5px) translateX(2px);
}
.play .line_3{
	height: 56%;
	left: 63%;
	transform: rotate(55deg) translateY(16.5px) translateX(2px);
}




.containerThumb {
  position: relative;
  width: 50%;
}

.containerThumb .image {
  display: block;
  width: 100%;
  height: auto;
}

.containerThumb .overlay {
  position: absolute; 
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #000000; 
  width: 200%;
  height: 100%;
  transition: .5s ease;
  opacity:2.5;
  font-size: 20px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.containerThumb:hover .overlay {
  opacity: 0.4;
}

@media (max-width: 991px)
{
	.trailer video
	{
		max-width: 90%;
	}
}

.popup .overlay {
  text-align: center;
  position:fixed;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:rgba(0,0,0,0.7);
  z-index:1;
  display:none;
}

.popup .content {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%) scale(0);
  background:#fff;
  width:90%;
  height:40%;
  overflow: auto;
  z-index:2;
  padding:20px;
  box-sizing:border-box;
  font-family:"Open Sans",sans-serif;
}

.popup .close-btn {
  cursor:pointer;
  position:absolute;
  right:20px;
  top:20px;
  width:30px;
  height:30px;
  background:#222;
  color:#fff;
  font-size:25px;
  font-weight:600;
  line-height:30px;
  text-align:center;
  border-radius:50%;
}

.popup.active .overlay {
  display:block;
}

.popup.active .content {
  transition:all 300ms ease-in-out;
  transform:translate(-50%,-50%) scale(1);
}

button {
  right: 1%;
  padding:15px;
  font-size:18px;
  border:2px solid #222;
  color:#222;
  text-transform:uppercase;
  font-weight:600;
  background:#fff;
}

.selectEditPlaylist {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
}

.playlistWrapper {
  border-radius: 10px; 
  border: 0.5px solid grey; 
  width: 30%;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

@media (max-width: 640px) {
  .playlistWrapper {
    width: 60%;
  }
}