.box-background {
    background-color: #FFFFFF;
    max-width: 900px;
    min-height: 500px;
    margin-left: 40px;
    margin-top: 25px;
    margin-right: 40px;
    border-radius: 20px;
}
.background {
    background-color: #D8D6DF;
}

.progress-bar {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    color: #fff !important;
    text-align: center !important;
    white-space: nowrap !important;
    background-color: #F45197 !important;
    transition: width 0.6s ease !important;
    border-radius: 20px !important;
}

.progress {
    display: flex !important;
    height: 1rem !important;
    overflow: hidden !important;
    font-size: .75rem !important;
    background-color: #e9ecef !important;
    border-radius: 20px !important;
    margin-left: 60px !important;
    margin-right: 60px !important;
    margin-top: -10px !important;
}

.text-progress {
    margin-left: 60px !important;
    margin-right: 60px !important;
}

.text-progressRight {
    position: relative;
    float: right;
    color: #F45197;
}